* {
    word-break: break-word
}

body {
    margin: 0;
    background: #ffffff
}

#header {
    padding: 1em 1em .5em;
    color: #fff;
    background: #d22222
}

#header *, .post_content, #about_info_show {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 720px
}

#header h2 {
    margin-bottom: 0;
    line-height: 1.25
}

#header p {
    margin-top: 5px;
    font-style: italic
}

.post_content, .news-content, #about_info_show {
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.6
}

#about_info_show {
    padding-top: .5em
}

a {
    color: #d22222;
    border-bottom: solid 1px #d22222;
    text-decoration: none
}

img {
    display: block;
    background: #ccc;
    height: 200px!important;
    width: 100%!important
}

img.loaded {
    height: auto!important;
    width: auto!important;
    max-width: 100%!important
}

blockquote {
    margin: 0;
    color: #666;
    border-left: 4px solid #ccc;
    padding-left: .5em
}

embed, iframe {
    max-width: 100%!important;
    max-height: 240!important
}

.font-color-red {
    color: #d22222
}

pre {
    color: #c13;
    background: #f3f3f0;
    margin-bottom: .5em;
    padding: 1em;
    max-width: 100%!important;
    overflow: auto
}
